.__logo{
    width: 250px;
}
.__nav_logo{
    width: 150px;
}

.__perfil{
    width: 50px;
    border-radius: 50%;
}

.nav-item a{
    font-weight:800;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-transform: uppercase;
}

.nav-item{
    padding-left: 100px !important;
}

.bg__{
    background: rgba(94, 94, 205, 0.647);
    /* background: -webkit-linear-gradient(90deg, #2e4d43,#2d544e,#2c5b5a,#2c6266,#2e6873);                
    background: linear-gradient(90deg, #2e4d43,#2d544e,#2c5b5a,#2c6266,#2e6873);                                            */
}

.__h5{
    padding: 10px;
    color: black;
    background: rgba(94, 94, 205, 0.647);
    border-radius: 5px;
    font-size: 18px;
    text-align: center;
}